.firework {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to bottom, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    animation-name: firework;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes firework {
    0% {
        transform: scale(0);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}