.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    /*border: 2px solid red;*/
    border-radius: 60px;
    color: #3ee0ae;
    font-size: 50px;
    background: #232222;
}