.card {
    display: flex;
    min-width: 520px;
    height: 320px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;

    box-shadow: 0 0 80px 1px rgba(0, 255, 117, 0.30);

}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 520px;
    height: 320px;
    background-color: #1a1a1a;
    transition: all .2s;
    border-radius: 20px;
    font-size: 18px;
}

.card2:hover {
    /*transform: scale(0.98);*/
    /*border-radius: 20px;*/
}

.card:hover {
    transition: all 1.5s;
    box-shadow: 0 0 180px 1px rgba(0, 255, 117, 0.30);
}