#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin-top: 50px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
